.wrapper {
  width: 100%;
  height: 100%;
}

.drop {
  width: 96%;
  height: 96%;
  border: 3px dashed #0D454C;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background: transparent;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*&:hover
   * cursor: pointer
   * background: #f5f5f5 */
}
.drop .cont {
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.drop .cont i {
  font-size: 400%;
  color: #FFFFFF;
  position: relative;
}
.drop .cont .tit {
  font-size: 400%;
  text-transform: uppercase;
}
.drop .cont .desc {
  color: #FFFFFF;
}
.drop .cont .browse {
  margin: 10px 25%;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  background: #09f;
}
.drop input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#list {
  width: 100%;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}

#list .thumb {
  border: 1px solid #323a44;
  margin: 10px 5px 0 0;
}